<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">
 
<bean id="postgreldataSource" class="org.apache.commons.dbcp2.BasicDataSource">
     <property name="driverClassName" value="org.postgresql.Driver"></property>
     <property name="url" value="jdbc:postgresql://127.0.0.1:20015/postgres"></property>
     <property name="username" value="postgres"></property>
     <property name="password" value="1qazXSW@"></property>
     <property name="initialSize" value="0" />
     <property name="maxTotal" value="20"></property>
     <property name="maxIdle" value="20"></property>
     <property name="minIdle" value="0"></property>
     <property name="maxWaitMillis" value="5000"></property>
     <property name="defaultAutoCommit" value="true"></property>
     <property name="removeAbandonedOnBorrow" value="true"></property>
     <property name="removeAbandonedTimeout" value="60"></property>
     <property name="logAbandoned" value="true"></property>
</bean>
<!--<bean id="postgreldataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
  <property name="jndiName"><value>java:comp/env/jdbc/mypostgredb</value></property>
 </bean>-->
<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  <property name="dataSource" ref="postgreldataSource" />
</bean>
<!-- enable transaction annotation support -->
<tx:annotation-driven transaction-manager="transactionManager" />

<!-- interceptor -->
<!-- <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
<tx:attributes>
<tx:method name="add*" propagation="REQUIRED" />
<tx:method name="append*" propagation="REQUIRED" />
<tx:method name="insert*" propagation="REQUIRED" />
<tx:method name="save*" propagation="REQUIRED" />
<tx:method name="update*" propagation="REQUIRED" />
<tx:method name="modify*" propagation="REQUIRED" />
<tx:method name="edit*" propagation="REQUIRED" />
<tx:method name="delete*" propagation="REQUIRED" />
<tx:method name="remove*" propagation="REQUIRED" />
<tx:method name="repair" propagation="REQUIRED" />
<tx:method name="delAndRepair" propagation="REQUIRED" />

<tx:method name="get*" propagation="SUPPORTS" />
<tx:method name="find*" propagation="SUPPORTS" />
<tx:method name="select*" propagation="SUPPORTS" />
<tx:method name="load*" propagation="SUPPORTS" />
<tx:method name="search*" propagation="SUPPORTS" />
<tx:method name="datagrid*" propagation="SUPPORTS" />

<tx:method name="*" propagation="SUPPORTS" />
</tx:attributes>
</tx:advice>
<aop:config>
<aop:pointcut id="transactionPointcut" expression="execution(* student.service..*Impl.*(..))" />
<aop:advisor pointcut-ref="transactionPointcut"
advice-ref="transactionAdvice" />
</aop:config>-->

<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
  <property name="dataSource" ref="postgreldataSource" />
  <property name="mapperLocations" value="/WEB-INF/config/sqlmap-config.xml" />
  <property name="typeAliases">
    <array>
        <value>dto.PersonVS</value>
        <value>dto.State</value>
    </array>
  </property>
</bean>
<bean id="personMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">  
    <property name="mapperInterface" value="dao.PersonDao" />  
    <property name="sqlSessionFactory" ref="sqlSessionFactory" />  
</bean> 

<bean id="editService" class="service.EditServiceInMemory" />
<bean id="editAction" class="example.EditAction" >
    <property name="editService" ref="editService" />
</bean>
<bean id="newPersonSerive" class="service.NewPersonSevice" >
    <property name="personDao" ref="personMapper" />
</bean>
<bean id="personInDbAction" class="example.PersonInDbAction" >
    <property name="newPersonService" ref="newPersonSerive" />
</bean>
</beans>